<h1>Your Jobs | <%=link_to "Add Job", new_job_path%></h1>

 
    <% current_user.jobs.each do |t| %>
    <!--finds out the amount of containers needed based on how many are already assigned -->
      <%@contains = 0 %>
      <% t.ship_jobs.each do |n| %>
        <% @ships = Ship.where(id: n.ship_id).first%>
        <%@contains = t.containersNeeded - @ships.containers%>
        <%puts @contains%>
      <%end%>
      <div class='col-lg-2'>
        <h1><%= link_to t.name, t  %></h1>
        <h6>Origin: <%= t.origin %></h6>
        <h6>Destination: <%= t.destination %></h6>
      </div>
    <% end %>
 
