
<div class='row'>
	<h1 id='name'><%=current_user.name%></h1>
	<div class='col-lg-5' id='ships'>
		<h1>Ships</h1>
		<% current_user.ships.each do |t|%>
		<div class='shipsAll'>
			<h2><%=t.name%></h2>
			<h4>Containers:<br> <%=t.containers%></h4>
			<h4>Location:<br> <%=t.location%></h4>
		</div>
		<%end%>
	</div>
	<div class='col-lg-5' id='jobs'>
		<h1>Jobs</h1>
	</div>
</div>