<%@ship = Ship.find(params[:id])%>
<%puts @ship %>
<p>
  <strong>Name:</strong>
  <%= @ship.name %>
</p>

<p>
  
 
<%= link_to 'Delete Ship', method: :delete, data: { confirm: 'Are you sure want to delete this ship?' } %>

