<!DOCTYPE html>
<html>
  <head>
    <title>Shipping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-lg-2" id='nav'>
       <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Ship It
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Jobs</a>
                </li>
                <li>
                    <a href="#">Ships</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-lg-10">
     <%= yield %>
    </div>
  </div>
</div>
    
  </body>
</html>
