<!DOCTYPE html>
<html>
  <head>
    <title>Shipping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-lg-2" id='nav'>
      
		<div class="row-offcanvas row-offcanvas-left">
		  <div id="sidebar" class="sidebar-offcanvas">
		      <div class="col-md-12">
		        <h3>Ship It</h3>
		        <ul class="nav nav-pills nav-stacked">
		          <li><a href="#">Dashboard</a></li>
		          <li><a href="#">Ships</a></li>
		          <li><a href="#">Jobs</a></li>
		        </ul>
		      </div>
		  </div>
    </div>
    </div>
    <div class="col-sm-9 col-lg-10">
     <%= yield %>
    </div>
  </div>
</div>
    
  </body>
</html>
